{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="white-text">
    <br>
    <br>
<h3 style="font-size: 25px;">Welcome to our student library!</h3>
    <br>
<h4>We understand that learning is an exciting and sometimes challenging journey. Our goal is to make this journey more interesting and successful by giving you access to a rich collection of resources to help you master the material, expand your horizons and achieve your learning goals.</h4>
<h4>In our library you will find a wide selection of academic books, scientific articles, journals and other educational materials in various disciplines. We follow the latest trends in education and strive to provide you with the most up-to-date information.</h4>
<h4>We understand that flexibility is important for modern students, which is why our library is available online at any time and from anywhere in the world. You can explore the materials, learn and grow at your own pace.</h4>
<h4>Join our community of students who share your interest in knowledge and education. We strive to be your trusted study companions and assistants in achieving your academic and professional goals. Welcome to the world of opportunities and discoveries!</h4>
</div>
    {% endblock %}