{% extends 'admin/base_admin.html' %}

{% block content %}
<h3>Список книг</h3>
<div class="white-text">
    {{ super() }}
    <div class="book-details">
        <div class="book-details__info">
            <button class="edit-button">Edit</button>
            <form class="edit-form" method="post" action="{{ url_for('.showaBook', alias=books.url) }}" style="display: none;">
                <button class="delete-button" type="submit" name="delete">Delete</button>
                <h3><input type="text" name="title" value="{{ books.title }}"></h3>
                <p>id: <input type="text" name="id" value="{{ books.id }}"></p>
                <p>Авторы: <input type="text" name="authors" value="{{ books.authors }}"></p>
                <p>Год выпуска: <input type="text" name="year" value="{{ books.year }}"></p>
                <p>ISBN: <input type="text" name="ISBN" value="{{ books.ISBN }}"></p>
                <p>Жанр: <input type="text" name="genre" value="{{ books.genre }}"></p>
                <p>о книге: <textarea name="about">{{ books.about }}</textarea></p>
                <button type="submit">Update</button>
            </form>
            <h3 class="title">{{ books.title }}</h3>
            <p>id: {{ books.id }} </p>
            <p class="authors">Authors: {{ books.authors }}</p>
            <p>Year: {{ books.year }}</p>
            <p>ISBN: {{ books.ISBN }}</p>
            <p>Genre: {{ books.genre }}</p>
            <p class="about">About: {{ books.about }}</p>
        </div>
        {% if books.image %}
            <div class="book-details__image">
                <img src="/{{ books.image }}" alt="{{ books.title }}" style="width: 350px; height: 500px;">
            </div>
        {% endif %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $(".edit-button").on("click", function() {
            var listItem = $(this).closest(".book-details");
            listItem.find(".title").toggle();
            listItem.find(".authors").toggle();
            listItem.find(".about").toggle();
            listItem.find(".edit-form").toggle();
        });

        $(".delete-button").on("click", function(e) {
    if (!confirm("Are you sure you want to delete this book?")) {
        e.preventDefault();
    }

            });
        });

</script>
{% endblock %}