{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="regStud" method="post" class="form-contact white-text">
    {{ form.hidden_tag() }}

    {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
    <p>
        {{ field.label() }}
        {% if field.errors %}
            <br>{{ field(class="invalid") }}
            <span class="invalid-feedback">
                {% for e in field.errors %}
                    {{ e }}
                {% endfor %}
            </span>
        {% else %}
            <br>{{ field() }}
        {% endif %}
    </p>
    {% endfor %}

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}